<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ok"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".activity.First"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Test"></activity>
        <activity android:name=".activity.PassLenth"></activity>
        <activity android:name=".activity.TimeButtona"></activity>
        <activity android:name=".activity.RoundImageA"></activity>
        <activity android:name=".activity.TextViewPlusA"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.MoreTextA"></activity>
        <activity android:name=".activity.TabActivity"></activity>
        <activity android:name=".activity.CircleImgActivity"></activity>
        <activity android:name=".activity.TextKeyActivity"></activity>
        <activity android:name=".activity.DashLineActivity"></activity>
        <activity android:name=".activity.SlidingTabActivity"></activity>
        <activity android:name=".activity.EmptyActivity"></activity>
        <activity android:name=".activity.ToastActivity"></activity>
        <activity android:name=".activity.TimeActivity"></activity>
        <activity android:name=".activity.NumberImgActivity"></activity>
        <activity android:name=".activity.CropImgActivity"></activity>
        <activity android:name=".activity.HortalListView"></activity>
        <activity android:name=".activity.TypeScrollActivity"></activity>
        <activity android:name=".activity.FipperA"></activity>
    </application>

</manifest>
